@font-face {
  font-weight: 400;
  font-family: Montserrat;
  src: url(/fonts/Montserrat\ Alternates.ttf);
}

@font-face {
  font-weight: 200;
  font-family: Montserrat;
  src: url(/fonts/Montserrat\ Alternates\ Light.ttf);
}

@font-face {
  font-weight: 600;
  font-family: Montserrat;
  src: url(/fonts/Montserrat\ Alternates\ Bold.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  display: none;
  margin: 0;
  padding: 0;
}

h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {

  margin: 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  width: 100%;
}

main,
.header__container,
footer,
.header {
  --bear-color: #cea766;
  --yellow-color: #fcc425;
  --lemon: #fff582;
  --green: #a4cfa1;
  --light-green: #e2ffe0;
  --section-color1: #fcc32527;
  --section-color2: #fff58227;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section__title {
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}

/*header*/
.header {
  border-bottom: 8px solid var(--green);

}

.header__logo-pic {
  width: 67%;
  padding-left: 121px;
}

.header__logo-name {
  width: 82%;
  padding-left: 86px;
}

.header__left {
  flex-direction: column;
  width: 50%;
}

.header__container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 15px 0 15px;

}

.header__right {
  width: 48%;
  position: relative;
}

.header__link {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
  font-family: Montserrat;
}

.header__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Двухколоночная сетка для равномерного распределения */
}

.header__nav {
  padding-left: 15px;
  padding-top: 15px;
}

.header__item {
  text-align: center;
}

.header__item:nth-child(-n+2) {
  margin-bottom: 40px;
}

.header__link {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 24px;
  padding-bottom: 4px;
}

.header__link:after {
  position: absolute;
  content: '';
  bottom: 0;
  display: block;
  width: 0;
  height: 4px;
  background: var(--green);
  transition: .3s;
}

.header__link:after {
  left: 50%;
  transform: translate(-50%);
}

.header__link:hover:after {
  width: 100%;
}

.header__link:focus {
  background-color: var(--light-green);
}

.header__link:active {
  background-color: var(--light-green);
}

.header__train {
  width: 25%;
  bottom: 0;
  position: absolute;
}

.header__train-768 {
  visibility: hidden;
  width: 0;
}

@keyframes slidein {
  from {
    margin-left: 0;
    width: 25%;
  }

  to {
    margin-left: 80%;
    width: 25%;
  }
}
@keyframes slidein2 {
  from {
    margin-left: 0;
    width: 3%;
  }

  to {
    margin-left: 80%;
    width: 25%;
  }
}
.header__train {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

/* animation-iretation-count:infinite*/

.warning {
  background-color: #ad0e0e5e;
  padding-top: 15px;
  padding-bottom: 15px;
}

.warning__title {
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-bottom: 10px;
}

.warning__desc {
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.warning__tel {
  white-space: nowrap;
}

/*about__us*/
.aboutus {
  background-color: var(--section-color1);
}

.aboutus__desc {
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 200;
  line-height: 2;
  margin-bottom: 20px;
}

.aboutus__adv {
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 2;
  margin-bottom: 20px;
}

.aboutus {
  --offsets: 3;
  --gap: 30px;
  flex-wrap: wrap;

}

.aboutus__card {
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  position: relative;

}

.aboutus__card:not(:last-child) {
  margin-right: 30px;

}

.card__title {
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 2;
  margin-bottom: 10px;
}

.card__desc {
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 20px;
}

.card__content {
  padding: 10px;
}

.aboutus__card::before {
  content: '';
  position: absolute;
  width: 255px;
  height: 450px;

}

.aboutus__card:hover::before {
  outline: 1px solid black;
}

.opt {
  background-color: var(--section-color2);
}

.opt__desc {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 20px;
}

.opt__list {
  padding-left: 40px;
  margin-bottom: 70px;
}

.opt__list-item-two:not(:last-child) {
  margin-bottom: 30px;
}

.opt__item {
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 20px;
  position: relative;
}

.opt__item::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(/img/piramid.png);
  background-repeat: no-repeat;
  background-size: 45%;
  top: -7px;
  left: -46px;
}

.itemtwo__name1 {
  position: relative;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;

}

.itemtwo__name2 {
  position: relative;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
}

.itemtwo__name3 {
  position: relative;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
}

.itemtwo__name4 {
  position: relative;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
}

.itemtwo__name1::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(/img/price.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  top: -10px;
  left: -41px;
}

.itemtwo__name2::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(/img/cart.svg);
  background-repeat: no-repeat;
  background-size: 45%;
  top: -7px;
  left: -46px;
}

.itemtwo__name3::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(/img/hands.svg);
  background-repeat: no-repeat;
  background-size: 45%;
  top: -8px;
  left: -52px;
}

.itemtwo__name4::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(/img/tel.svg);
  background-repeat: no-repeat;
  background-size: 45%;
  top: -12px;
  left: -52px;
}

.opt__list-two {
  margin-bottom: 30px;
  text-align: center;
}

.retail {
  background-color: var(--section-color1);
}

.retail__one {
  justify-content: space-between;
  margin-bottom: 30px;
}

.retail__two {
  justify-content: space-between;
  margin-bottom: 30px;
}

.retail__address {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  position: relative;
  margin-bottom: 7px;
}

.retail__tel {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  position: relative;
  padding-bottom: 3px;

}

.retail__time {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  position: relative;
  padding-top: 7px;
}

.retail__desc {
  padding: 15px;
}

.retail__map {
  padding: 15px;
}

.retail__tel:after {
  position: absolute;
  content: '';
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: .3s;
}



.retail__tel:after {
  left: 50%;
  transform: translate(-50%);
}

.retail__tel:hover:after {
  width: 100%;
}

.retail__tel:active {
  border-bottom: 3px solid black;
}

.retail__tel:focus {
  color: red;
}

.warning__tel:hover {
  color: red;
}

.warning__tel:active {
  color: red;
}

.warning__tel:focus {
  color: rgb(116, 0, 0);

}

.footer {
  background-color: var(--green);
  padding: 15px;
}

.footer__logo {
  width: 150px;
  height: 150px;
  margin-right: 25px;

}

.footer__container {
  flex-direction: row;
  justify-content: space-between;
}

.footer__content {
  flex-direction: column;
}

.footer__list {
  flex-direction: column;
}

.footer__title {
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 2;

}

.footer__address {
  white-space: nowrap;
}

.footer__address {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  position: relative;
  padding-top: 7px;
  margin-bottom: 7px;
}

.footer__tel:focus {
  color: rgb(116, 0, 0);
}

.footer__tel:active {
  color: rgb(116, 0, 0);
}

.footer__tel:hover {
  color: red;
}

.footer__address:focus {
  color: #000b9fef;
}

.footer__address:active {
  color: #000b9fef;
}

.footer__address:hover {
  color: #434ddddb;
}

.footer__contacts {
  margin-right: 60px;
}


.footer__fistblock {
  max-width: 400px;
}

.footer__link {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 24px;
  padding-bottom: 4px;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
  font-family: Montserrat;
  margin-bottom: 20px;
  display: inline-block;
}

.footer__link:after {
  position: absolute;
  content: '';
  bottom: 0;
  display: block;
  width: 0;
  height: 4px;
  background: var(--yellow-color);
  transition: .3s;

}

.footer__link:after {
  left: 50%;
  transform: translate(-50%);
}

.footer__link:hover:after {
  width: 100%;
}

.footer__link:focus {
  background-color: var(--light-green);
}

.footer__link:active {
  background-color: var(--light-green);
}

.footer__list {
  padding-top: 30px;
}

.media__pic {
  width: 50px;
  fill: var(--bear-color);
  stroke: black;
}

.footer__media {
  flex-direction: column;
  justify-content: center;
}

.footer__nav {
  margin-right: 30px;
}

.media__inst {
  margin-bottom: 20px;
}

.media__pic:hover {
  fill: var(--yellow-color);
}

.media__pic:focus {
  fill: var(--lemon);
}

.media__pic:active {
  fill: var(--lemon);
}